{
  "plugins": [
    "eslint-plugin-tsdoc"
  ],
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "vue/max-attributes-per-line": "off",
    "import/no-mutable-exports": "off",
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "always"
      }
    }],
    "prettier/prettier": [
      "error", {
        "semi": false,
        "singleQuote": true
      }
    ],
    "tsdoc/syntax": "error"
  }
}
